<div class="iw_wrapper">
  <ul class="iw_thumbs" id="iw_thumbs">
    <li>
      <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/318034_431026300261818_573076800_n.jpg" data-img="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/318034_431026300261818_573076800_n.jpg" alt="Thumb1"/>
      <div>
        <h2>Kanishk</h2>
        <p>Hey niti urf tubelite...u hv been a great support n frend 2 me..d frienshp tat v shared is awsum, d smal misundrstndngs n fites. Sausages n lime water at agriculture added 2 d awsumnes...i wna say u hv more dan a frend,a supporting sis..u hv been a spiritual guidance 2 me..thnx 4 all d effort u hv put in...JoHN ABRAHAM.</p>
      </div>
    </li>

    <li>
      <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash3/37239_130494520314999_6460799_n.jpg" data-img="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash3/37239_130494520314999_6460799_n.jpg" alt="Thumb1"/>
      <div>
        <h2>Old Times</h2>
        <p>Will never forget the good old days..</p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash3/557299_318061038248565_1116332008_n.jpg" data-img="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash3/557299_318061038248565_1116332008_n.jpg" alt="Thumb1"/>
      <div>
        <h2>Karen</h2>
        <p>Hey gurl...
          On dis day wana share U hv been dear n a true blessin to me ya,...4 al d thngs n memrz v hv shard ul always b clos to me....Thnx 4 evrythng u eva did 4 me..
          May God Bless u soo much n keep using u 4 HIS glory,..  HAPPY HAPPY BIRTHDAY DARLIN
          lov u muah :)</p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/398328_286476374769474_57912778_n.jpg" data-img="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/398328_286476374769474_57912778_n.jpg" alt="Thumb1"/>
      <div>
        <h2>Micah</h2>
        <p>warm b'day greetings to u nitz on this very special day of ur life ..... may HIS blessings be always with you [♥] [♥] </p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-ash4/263701_10150206881575518_3722161_a.jpg" data-img="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-ash4/263701_10150206881575518_3722161_a.jpg" alt="Thumb1"/>
      <div>
        <h2>Jabez</h2>
        <p>"tubelight"
          Thanx for being such a nice sis to me. Remember, God knows you heart's desire and HE will never dishonour your faith in HIM. Have a blessed year ahead.</p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc6/269263_10150982129621162_106645730_n.jpg" data-img="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc6/269263_10150982129621162_106645730_n.jpg" alt="Thumb1"/>
      <div>
        <h2>BirthDay Girl</h2>
        <p>..we all love you lots</p>
      </div>
    <li>
      <img src="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc6/247963_214174458614813_7731013_a.jpg" data-img="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc6/247963_214174458614813_7731013_a.jpg" alt="Thumb1"/>
      <div>
        <h2>Innocent</h2>
        <p>happy b'day vandy.....</p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash3/559134_3420928998642_225936689_n.jpg" data-img="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash3/559134_3420928998642_225936689_n.jpg" alt="Thumb1"/>
      <div>
        <h2>Jayant Bhaiya</h2>
        <p>May this year be your best ever, I hope all your birthday dreams and wishes come true, Not just a year older, but a year better, Here's to another year of experience May your birthday be filled with sunshine and smiles, laughter, love, and cheer.
          Wish u a very Happy b@day to u...God Bless you
        </p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc7/386222_350842088265126_984373986_a.jpg" data-img="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc7/386222_350842088265126_984373986_a.jpg" alt="Thumb1"/>
      <div>
        <h2>Nisha Di</h2>
        <p>Happy Bday Niti..GBU..moti hogayi hai</p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc6/62162_162130897147102_3296474_n.jpg" data-img="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc6/62162_162130897147102_3296474_n.jpg" alt="Thumb1"/>
      <div>
        <h2>Jijo</h2>
        <p>Met u in 2007,u ver among my first few frnds in colg. On my bday niti,hepsy nd stephy gave me a surprise which seriously was very special to me. Despite bad phases, We still r frnds though our collg days are ovr we stil hav dat same frndshp nothn changd. gud luck for ur future endvrs. Nd a sugstn pls remain like dis ur bst ven ur like dis,sweet nd simple.GBU</p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash3/34999_411088961161_3503317_n.jpg" data-img="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash3/34999_411088961161_3503317_n.jpg" alt="Thumb1"/>
      <div>
        <h2>Field Trip</h2>
        <p>Will never forget the good old days..</p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc6/184157_181317431909547_7839312_n.jpg" data-img="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc6/184157_181317431909547_7839312_n.jpg" alt="Thumb1"/>
      <div>
        <h2>Hephzibah</h2>
        <p>To the bestest friend ever..HAPPY BIRTHDAY!! </p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-prn1/32548_397989026161_8331737_a.jpg" data-img="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-prn1/32548_397989026161_8331737_a.jpg" alt="Thumb1"/>
      <div>
        <h2>@Shahensha</h2>
        <p>after the awesome movie..lol</p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc7/34999_411088956161_4682581_a.jpg" data-img="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc7/34999_411088956161_4682581_a.jpg" alt="Thumb1"/>
      <div>
        <h2>Tractor Ride</h2>
        <p></p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-prn1/32548_397989006161_5077889_n.jpg" data-img="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-prn1/32548_397989006161_5077889_n.jpg" alt="Thumb1"/>
      <div>
        <h2>Cheers to Our Friendship</h2>
        <p></p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-ash3/26136_388386551161_3302928_a.jpg" data-img="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-ash3/26136_388386551161_3302928_a.jpg" alt="Thumb1"/>
      <div>
        <h2>Redemption</h2>
        <p></p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-prn1/26136_388386601161_1353553_n.jpg" data-img="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-prn1/26136_388386601161_1353553_n.jpg" alt="Thumb1"/>
      <div>
        <h2>Redemption</h2>
        <p></p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/400054_133839986731755_1403575145_n.jpg" data-img="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/400054_133839986731755_1403575145_n.jpg" alt="Thumb1"/>
      <div>
        <h2>Milan</h2>
        <p></p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc6/166124_168358389872118_326921_a.jpg" data-img="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc6/166124_168358389872118_326921_a.jpg" alt="Thumb1"/>
      <div>
        <h2>CSF</h2>
        <p></p>
      </div>
    </li><li>
      <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc7/57952_1333200944554_7253023_n.jpg" data-img="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc7/57952_1333200944554_7253023_n.jpg" alt="Thumb1"/>
      <div>
        <h2>@Orphanage</h2>
        <p></p>
      </div>
    </li><li>
      <img src="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-prn1/32207_395689527820_780125_a.jpg" data-img="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-prn1/32207_395689527820_780125_a.jpg" alt="Thumb1"/>
      <div>
        <h2>Sunday skool masti</h2>
        <p></p>
      </div>
    </li><li>
      <img src="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-prn1/32548_397989046161_189586_a.jpg" data-img="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-prn1/32548_397989046161_189586_a.jpg" alt="Thumb1"/>
      <div>
        <h2>the lunches</h2>
        <p></p>
      </div>
    </li><li>
      <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc6/150157_369365473127912_85277344_n.jpg" data-img="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc6/150157_369365473127912_85277344_n.jpg" alt="Thumb1"/>
      <div>
        <h2>Angie</h2>
        <p>happy b'day niti.... may ABBA LORD BLESS u abundantly...</p>
      </div>
    </li><li>
      <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-prn1/133101_145072868877177_2319776_o.jpg" data-img="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-prn1/133101_145072868877177_2319776_o.jpg" alt="Thumb1"/>
      <div>
        <h2>Farewell</h2>
        <p></p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc6/149774_501475219202_2209519_n.jpg" data-img="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc6/149774_501475219202_2209519_n.jpg" alt="Thumb1"/>
      <div>
        <h2>Tree Climbing</h2>
        <p></p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc7/65475_10150104059839203_6966692_a.jpg" data-img="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc7/65475_10150104059839203_6966692_a.jpg" alt="Thumb1"/>
      <div>
        <h2>Worship</h2>
        <p>continue to be a blessing to people</p>
      </div>
    </li>
    <li>
      <img src="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc7/155112_10150131794332802_3104641_a.jpg" data-img="https://fbcdn-photos-a.akamaihd.net/hphotos-ak-snc7/155112_10150131794332802_3104641_a.jpg" alt="Thumb1"/>
      <div>
        <h2>SCM</h2>
        <p></p>
      </div>
    </li> <li>
      <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc6/169178_168358389872118_326921_o.jpg" data-img="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc6/169178_168358389872118_326921_o.jpg" alt="Thumb1"/>
      <div>
        <h2>CSF Masti</h2>
        <p></p>
      </div>
    </li>
  </ul>
</div>
<div id="iw_ribbon" class="iw_ribbon">
  <span class="iw_close"></span>
  <span class="iw_zoom">Click thumb to zoom</span>
</div>