<!DOCTYPE html>
<html>
<head>

<title>Happybdayniti</title>
<meta property="og:title" content="OG Title" />

<meta property="og:description" content="OG Description" />
<meta property="og:url" content="http://happy-bday-niti.herokuapp.com/" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
